#github "RustyKnight/MBProgressHUD" == 2.3.0
#github "RustyKnight/CBZSplashViewLib" == 2.3.11

#github "malcommac/SwiftLocation"
github "RustyKnight/SwiftLocation" "develop"
github "RustyKnight/realm-cocoa" == 3.0.1
github "RustyKnight/Hydra"

#github "DaveWoodCom/XCGLogger" ~> 5.0.1

github "tadija/AELog"
github "tadija/AEConsole"

#github "twicketapp/TwicketSegmentedControl"
github "gmarm/BetterSegmentedControl"

#github "RustyKnight/KZCoreUILibrary"
#github "RustyKnight/KZCoreLibrary"

github "RustyKnight/TableViewKit" "master"